{{ define "main" }}
  {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }}
  <div class="posts">
    {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
    {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

    {{ $PageContext := . }}
    {{ if .IsHome }}
      {{ $PageContext = .Site }}
    {{ end }}

{{ $projects := where .Site.RegularPages "Section" "scqa" }}

{{ range $projects }}
  <article class="card">
    {{ if .Params.image }}
      <img src="{{ .Params.image }}" alt="{{ .Title }}">
    {{ end }}
    <h3>{{ .Title }}</h3>
    <div class="summary">
      {{ .Summary }}
    </div>
    <a href="{{ .RelPermalink }}">Read more</a>
  </article>
{{ end }}


    {{ partial "pagination.html" . }}
  </div>
{{ end }}
